* {
    text-align: center;
  
}

h1 {
    font-size: 100px;
    text-align: center;
    animation-name: odai;
    animation-duration: 5s;
}

@keyframes odai {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 300%;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 50px;
        text-align: center;
        animation: odai 3s linear .5s 1 normal both;
    }
    
    @keyframes odai {
        from {
            font-size: 50px;
        }
        to {
            font-size: 80px;
        }
    }   
}
#bench {
    margin-top: 50px;
}

#legs {
    margin-top: 50px;
}

#dead {
    margin-top: 50px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

.description {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 310px;
}

.description img {
    height: 310px;
    width: 450px;
}

.box1 {
    width: 50%;
    padding: 10px auto;
    height: 310px;
}

.box2 {
    width: 50%;
}

@media screen and (max-width:767px) {
    .description {
        display: block;
        height: 0%;
    }
    .box1, .box2 {
        width: 100%;
    }    
    .box1 {
        height: 100px;
        margin-top: 20px;
    }
    .description img {
        height: auto;
    }
}

.box1 h4 {
    font-size: 20px;
}

.yourmax {
    background-color: aquamarine;
    display: flex;
}

.nutrition p {
    margin: 20px;
}

.supplement a {
    border: solid;
    background-color: yellow;
}

.supplement {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}